.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.nav button{
    background-color: #b20110dc;
    border-radius: 10px;
    border: 0;
    padding: 0.8rem;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
}


@media (max-width: 495px) {
    .nav {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }
}